{% extends 'main.html' %}

{% block content %}

<div class="container text-center mt-5">
    <h1>{{user.username}}</h1>
    <h6>@{{user.username}}</h6>
    {% if request.user == user %}
    <a href="{% url 'update-user' %}" class="btn btn-primary mt-1">Edit Profile</a>
    {% endif %}
</div>

<div class="container">
    <div class="row">
        <div class="col mt-5">
            {% include 'base/topics_component.html' %}
        </div>
        <div class="col-7 mt-5">
            {% include 'base/feed_component.html' %}
        </div>
        <div class="col mt-5">
            {% include 'base/activity_component.html' %}
        </div>
    </div>
</div>

{% endblock content %}